n8n/workflows/data-ingestion.json
{
  "name": "data-ingestion",
  "nodes": [
    {
      "parameters": {
        "url": "=http://supabase_kong_data-platform:8000/storage/v1/object/dataset_files/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [464, -80],
      "id": "fe20a7bb-4e20-4a1d-935e-b8fb52c49a3f",
      "name": "Récupérer le fichier CSV",
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [688, -80],
      "id": "93e93acf-491f-43e1-bdbb-706a6f200250",
      "name": "Extraire les lignes dans le fichier CSV"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "data = _item[\"json\"]\n\n# Vérifie que 'datetime' est présent\nif \"datetime\" not in data:\n    raise ValueError(\"Le champ 'datetime' est obligatoire.\")\n\noutput = {\n  'recorded_at': data[\"datetime\"]\n}\n\n# Extraire la position\nif \"lat\" in data and \"long\" in data:\n  output['position'] = f\"POINT({data['long']} {data['lat']})\"\nelse:\n  output['position'] = None\n\n\nparameters = {}\n\n# Traite chaque paramètre\nfor key, value in data.items():\n    if key in [\"datetime\", \"lat\", \"long\"]:\n        continue  # On saute 'datetime'\n\n    # Tente de convertir en float si c'est une chaîne représentant un nombre\n    if isinstance(value, str):\n        try:\n            num_value = float(value)\n            parameters[key] = num_value\n        except ValueError:\n            parameters[key] = value\n    else:\n        parameters[key] = value\n\noutput['parameters'] = parameters\n\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, -272],
      "id": "c50f6779-3120-4bc2-8018-307ac30ce62a",
      "name": "Formater le retour",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "tableId": "measures",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "recorded_at",
              "fieldValue": "={{ $json.recorded_at }}"
            },
            {
              "fieldId": "parameters",
              "fieldValue": "={{ $json.parameters }}"
            },
            {
              "fieldId": "instrument_id",
              "fieldValue": "={{ $('Boucler sur les fichiers').last().json.instrument_id }}"
            },
            {
              "fieldId": "dataset_id",
              "fieldValue": "={{ $('Boucler sur les fichiers').last().json.dataset_id }}"
            },
            {
              "fieldId": "=position",
              "fieldValue": "={{ $json.position }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1360, -32],
      "id": "0a38bd5e-34df-4876-a2b9-d2b45fd3717e",
      "name": "Enregistrer une mesures",
      "retryOnFail": false,
      "maxTries": 3,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-432, -80],
      "id": "deca484c-1a93-4c5c-a9d9-f4e8fddf97f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "dataset_files",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "is_validated",
              "condition": "is",
              "keyValue": "true"
            },
            {
              "keyName": "processed_at",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-208, -80],
      "id": "2999f628-d741-406f-b410-005b06fa9435",
      "name": "Récupérer les fichiers non traitées",
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dataset_files",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [240, -80],
      "id": "179d0da2-2e88-4525-8ead-d294a00b9330",
      "name": "Mettre le statut \"En cours de traitement\"",
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dataset_files",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Boucler sur les fichiers').last().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1136, -80],
      "id": "3f117094-c238-4455-b8e6-564053b3b2f9",
      "name": "Mettre le statut \"Traitement terminer\"",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [16, -80],
      "id": "5ce7835c-304e-4008-9d66-264405299f43",
      "name": "Boucler sur les fichiers"
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [912, -80],
      "id": "c56994c3-3aaf-4428-85c3-2c18054c0492",
      "name": "Boucler sur les mesures"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [240, -272],
      "id": "fa921fec-bb96-490e-8b2b-b4ee39f96945",
      "name": "Fin du workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Récupérer le fichier CSV": {
      "main": [
        [
          {
            "node": "Extraire les lignes dans le fichier CSV",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extraire les lignes dans le fichier CSV": {
      "main": [
        [
          {
            "node": "Boucler sur les mesures",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Formater le retour": {
      "main": [
        [
          {
            "node": "Enregistrer une mesures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrer une mesures": {
      "main": [
        [
          {
            "node": "Boucler sur les mesures",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Récupérer les fichiers non traitées",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer les fichiers non traitées": {
      "main": [
        [
          {
            "node": "Boucler sur les fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre le statut \"En cours de traitement\"": {
      "main": [
        [
          {
            "node": "Récupérer le fichier CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre le statut \"Traitement terminer\"": {
      "main": [
        [
          {
            "node": "Boucler sur les fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucler sur les fichiers": {
      "main": [
        [
          {
            "node": "Fin du workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mettre le statut \"En cours de traitement\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucler sur les mesures": {
      "main": [
        [
          {
            "node": "Mettre le statut \"Traitement terminer\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formater le retour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "errorWorkflow": "ugIfMyJJfvtMZt0S"
  },
  "versionId": "12d99267-ab2e-4221-b0b2-b4e6da4fd58c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e0ec54da47e405a2fb7faf45aec7e44e092525d2348fce5c139307846720f82"
  },
  "id": "FBbnTPiyv4rsCqZZ1Z1UY",
  "tags": []
}
