n8n/workflows/ingest-dataset-file.json
{
  "name": "ingest-dataset-file",
  "nodes": [
    {
      "parameters": {
        "url": "=http://supabase_kong_data-platform:8000/storage/v1/object/dataset_files/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-800, 160],
      "id": "2bee16a9-32a8-4ec8-b6b1-cc1c41e00a79",
      "name": "Récupérer le fichier CSV",
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [-576, 160],
      "id": "5944453c-275f-42e9-ac21-ca51a0f30c92",
      "name": "Extraire les lignes dans le fichier CSV"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "output = {\n  'error': False\n}\n\ntry:\n  data = _item[\"json\"]\n  \n  # Vérifie que 'datetime' est présent\n  if \"datetime\" not in data:\n      raise ValueError(\"Le champ 'datetime' est obligatoire.\")\n  \n  output['recorded_at'] = data[\"datetime\"]\n  \n  # Extraire la position\n  if \"lat\" in data and \"long\" in data:\n    output['position'] = f\"POINT( {data['long']} )\"\n  else:\n    output['position'] = None\n  \n  \n  parameters = {}\n  \n  # Traite chaque paramètre\n  for key, value in data.items():\n      if key in [\"datetime\", \"lat\", \"long\"]:\n          continue  # On saute 'datetime'\n  \n      # Tente de convertir en float si c'est une chaîne représentant un nombre\n      if isinstance(value, str):\n          try:\n              num_value = float(value)\n              parameters[key] = num_value\n          except ValueError:\n              parameters[key] = value\n      else:\n          parameters[key] = value\n  \n  output['parameters'] = parameters\n  \n  return output\nexcept:\n  output['error'] = True\n  return output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 160],
      "id": "7c56020b-02ea-4d58-8b45-cadf50419d17",
      "name": "Formater le retour",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "measures",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "recorded_at",
              "fieldValue": "={{ $json.recorded_at }}"
            },
            {
              "fieldId": "parameters",
              "fieldValue": "={{ $json.parameters }}"
            },
            {
              "fieldId": "instrument_id",
              "fieldValue": "={{ $('Mettre le statut \"En cours de traitement\"').item.json.instrument_id }}"
            },
            {
              "fieldId": "dataset_id",
              "fieldValue": "={{ $('Mettre le statut \"En cours de traitement\"').item.json.dataset_id }}"
            },
            {
              "fieldId": "=position",
              "fieldValue": "={{ $json.position }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [320, 328],
      "id": "ed64d370-ba3f-46f9-b953-6583bb732e75",
      "name": "Enregistrer une mesures",
      "retryOnFail": false,
      "maxTries": 3,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dataset_files",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.dataset_file_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-1024, 160],
      "id": "18f0c333-07bc-4cbd-b22d-ea295feb496d",
      "name": "Mettre le statut \"En cours de traitement\"",
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dataset_files",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.dataset_file_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-128, -32],
      "id": "f5853cbb-24a0-436a-a7f6-3d579a2a6ca9",
      "name": "Mettre le statut \"Traitement terminer\"",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-352, 160],
      "id": "970dd823-f7ea-4dd7-aa03-5124c13b0c76",
      "name": "Boucler sur les mesures"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dataset_file_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-1248, 160],
      "id": "b12a474b-9699-4651-980e-5178f1b28f6d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "errorMessage": "Erreur pendant le formatage des données"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [544, 112],
      "id": "7bc930ad-e048-4f30-865b-51e792033203",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dataset_files",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Mettre le statut \"En cours de traitement\"').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [320, 112],
      "id": "becf9304-cb74-444c-a637-273196ce6aa7",
      "name": "Mettre le statut \"Erreur\"",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "qmu8Prx2w5FPDUd8",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4cc4be7-60ec-41ca-aef2-299ffdb5a9f8",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [96, 160],
      "id": "6785329e-92fb-4e72-8e0b-0c105414fe61",
      "name": "Si erreur de formatage"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "dataset_file_id": "f20097e7-4c76-4e06-9000-3b69748e84fc"
        }
      }
    ]
  },
  "connections": {
    "Récupérer le fichier CSV": {
      "main": [
        [
          {
            "node": "Extraire les lignes dans le fichier CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire les lignes dans le fichier CSV": {
      "main": [
        [
          {
            "node": "Boucler sur les mesures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater le retour": {
      "main": [
        [
          {
            "node": "Si erreur de formatage",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enregistrer une mesures": {
      "main": [
        [
          {
            "node": "Boucler sur les mesures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre le statut \"En cours de traitement\"": {
      "main": [
        [
          {
            "node": "Récupérer le fichier CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucler sur les mesures": {
      "main": [
        [
          {
            "node": "Mettre le statut \"Traitement terminer\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formater le retour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Mettre le statut \"En cours de traitement\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre le statut \"Erreur\"": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si erreur de formatage": {
      "main": [
        [
          {
            "node": "Mettre le statut \"Erreur\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enregistrer une mesures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7bb94724-f047-4010-993b-3fe0832ad0bb",
  "meta": {
    "instanceId": "5e0ec54da47e405a2fb7faf45aec7e44e092525d2348fce5c139307846720f82"
  },
  "id": "GQAg41l7Cw053a3R",
  "tags": []
}
